.index-container {
  display: flex;
  max-width: 500px;
  margin: 0 auto;
}

.index-containter__row {
  display: flex;
  margin: 1% auto;
}

.index-containter__image {
  display: flex;
  margin: 0 auto;
  border-radius: 1%;
  height: auto;
}

.index-containter__image_wide {
  width: 100%;
}

.index-containter__image_multi {
  width: 48%;
  justify-content: space-between;
  flex-direction: row;
}

.content__text {
  display: flex;
  width: 95%;
  padding: 2%;
  max-width: 500px;
  margin: auto;
  overflow-wrap: normal;
  line-height: 1.8em;
}
